@import 'styles/fonts.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:global(*:focus-visible) {
    outline: none;
}

:global(*) {
    -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-blue-500;
    border-radius: 10px;
}

.sectionTitle {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Aviny";
    font-size: 2rem;
    font-weight: 700;
    color: #263238;
    b {
        display: block;
        -ms-flex: 1;
        flex: 1;
        height: 4px;
        opacity: 0.4;
        background-color: #263238;
    }
}

.sectionTitleCenter {
    span {
        text-align: center;
        margin: 0 15px;
    }
}

body {
    direction: rtl;
    font-family: IRANSans;
}
